---
import Base from '../layouts/Base.astro'
---
<Base>
	<div>
		<div class="dual-text">
			<h1>Cowbot & Howdy</h1>
			<span>Cowbot & Howdy</span>
		</div>
		<p>
			Lorem ipsum and all that stuff yes yes
		</p>
	</div>
</Base>
<style>
	:root {
		--accent: #2452BB;
		--secondary: #a95dff;
		--background: #c1cfff;
	}
	
	p {
		margin-top: 2rem;
	}
</style>