---
const {title, src} = Astro.props
---
<div class="dual-text">
	<a href={src}>{title}</a>
	<span>{title}</span>
</div>
<style>
	@media (min-width: 768px) {
		div {
			position: absolute;
			white-space: nowrap;
			bottom: 0;
			margin-bottom: 1rem;
		}
	}
</style>