---
const {title, src} = Astro.props
---
<li class="dual-text">
	<a href={src}>{title}</a>
	<span>{title}</span>
</li>

<style>
	li {
		position: relative;
		margin-bottom: 4rem;
	}
	
	:global(.inline) li {
		display: inline-block;
	}
	
	a {
		cursor: url(/cursor/arrow.png) 30 20, default;
	}
	
	@media (min-width: 768px) {
		li {
			margin-bottom: 2rem;
		}
	}
	
	@media (min-width: 1024px) {
		li {
			white-space: nowrap;
			margin-bottom: 0;
			overflow-wrap: normal;
			word-break: normal;
		}
	}
</style>