---
import Base from '../layouts/Base.astro'
import ListItem from '../components/menu/ListItem.astro'
import FooterItem from '../components/menu/FooterItem.astro'
import Scroll from '../components/Scroll.astro'
---
<Base>
	<Scroll />
	<div>
		<ul>
			<ListItem title="Cowbot & Howdy" src="https://github.com/stereoknife/howdy"/>
			<ListItem title="nbt-rs" src="https://github.com/stereoknife/nbt"/>
			<ListItem title="This site" src="https://github.com/stereoknife/stereoknife.github.io"/>
			<ListItem title="Blind Spot: Virtual Gallery" src="https://tamk.itch.io/blind-spot" />
			<ListItem title="Hot Futures: Virtual Gallery" src="https://tamk.itch.io/hot-futures"/>
		</ul>
		<ul id="footer" class="inline">
			<ListItem title="About" src="about" />
		</ul>
	</div>
</Base>

<style>
	:root {
		--accent: #2452BB;
		--secondary: #FF787D;
		--background: #FEEBC8;
	}
	
	#menu {
		top: 0;
	}
	
	#footer {
		position: fixed;
		white-space: nowrap;
		bottom: 0;
		margin-bottom: 1rem;
		width: auto;
	}
	
	ul {
		list-style-type: none;
		list-style-position: outside;
	}
	
	@media (min-width: 768px) {
		body {
			display: grid;
			grid-gap: 0;
			grid-template-columns: 5rem 1fr;
		}
	}
</style>