---
import Base from './Base.astro'
import ListItem from '../components/menu/ListItem.astro'
import FooterItem from '../components/menu/FooterItem.astro'
import Scroll from '../components/Scroll.astro'
const {title, spot} = Astro.props.content
const images = Astro.props.content.images ?? []

function shuffle(a) {
	for (let i = a.length - 1; i > 0; i--) {
		const j = Math.floor(Math.random() * (i + 1));
		[a[i], a[j]] = [a[j], a[i]];
	}
	return a;
}
---
<Base>
	<Scroll/>
	<div>
		<ul id="menu">
			<ListItem title="Cowbot & Howdy" src="cowbot" />
			<ListItem title="nbt-rs" src="nbt-rs" />
			<ListItem title="This site" src="this-site" />
			<ListItem title="Blind Spot: Virtual Gallery" src="blind-spot" />
			<ListItem title="Hot Futures: Virtual Gallery" src="hot-futures" />
		</ul>
		<div class="post-content">
		</div>
		<ul id="footer" class="inline">
			<ListItem title="About" src="about" />
		</ul>	
	</div>
	<div id="images">
		{shuffle(images).map((s) => <img width={Math.random() * 40 + 40 + "%"} src={s} alt="">)}
		{shuffle(images).map((s) => <img width={Math.random() * 40 + 40 + "%"} src={s} alt="">)}
	</div>
</Base>
<style define:vars={{ spot }}>
	#menu {
		top: 0;
	}
	
	#footer {
		position: fixed;
		white-space: nowrap;
		bottom: 0;
		margin-bottom: 1rem;
		width: auto;
	}
	
	#images {
		margin-left: -30%;
		overflow: hidden;
		text-align: right;
		line-height: 0;
		width: 130%;
		
		& img {
			display: inline-block;
		}
	}
	
	ul {
		list-style-type: none;
		list-style-position: outside;
	}
	
	.post-content {
		position: relative;
		padding-top: 2rem;
		padding-bottom: 6rem;
	}
	
	.post-content :global(ul) {
		list-style: inside "- ";
	}
	
	.post-content :global(h2) {
		margin-top: 1.5rem;
		font-size: 2rem;
		color: var(--accent);
		text-transform: lowercase;
	}
	
	.post-content :global(p) {
		margin-top: 0.5rem;
	}
	
	@media (min-width: 768px) {
		body {
			display: grid;
			grid-gap: 0;
			grid-template-columns: 5rem 1fr;
		}
	}
</style>